
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Genos:ital,wght@0,100..900;1,100..900&family=Kenia&family=Michroma&family=MuseoModerno:ital,wght@0,100..900;1,100..900&family=Rubik+Mono+One&family=Squada+One&family=Staatliches&family=Sulphur+Point:wght@300;400;700&family=Tilt+Neon&family=Turret+Road:wght@200;300;400;500;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body{
    overscroll-behavior: none;
}

:root{

    --icon-color: #8750ea;
    --btn-glow : #9f6cff;
    --icon-dim: #412770;
    --bg-color: #0F0715;
    --pro-bg: #050709;
    --head-font : "Bruno Ace SC", sans-serif;
    --genos:"Genos", sans-serif;
    --sulphur: "Sulphur Point", sans-serif;
    --modern: "MuseoModerno", sans-serif;;
    --neon: "Tilt Neon", sans-serif;
}


html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    display: none;
}

.spark{
    position: absolute;
    top: 0;
} 

.lightning-container {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: -500;
}


nav{
    width: 60%;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(10px);
    padding: 1rem 2rem;
    margin: 4rem 20%;
    border: 2px solid gray;
    border-radius: 50px;
    position: fixed;
    top: 0px;
    z-index: 10;
}

.second-nav{
    position: absolute;
    top: 30px;
}


.logo a, .logo{
    font-size: 1rem;
    text-decoration: none;
    color: white;
    z-index: 5;
}

.navi{
    display: flex;
    gap: 40px;
    align-items: center;
}

.navi a{
    font-family: var(--modern);
    text-decoration: none;
    color: white;
    text-transform: capitalize;
    position: relative;
}

.navi a::after{
    content: '';
    position: absolute;
    bottom: -2px;
    left: -2px;
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    background-image: linear-gradient(to right, var(--icon-color),var(--icon-color),#1a0f2e );
    transform-origin: right;
    transition: transform .3s ease-in-out;
}

.navi a:hover::after{
    transform: scaleX(1);
    transform-origin: left;
}

/* 
@media screen and (max-width: 1360px){
    .navi{
        justify-content: center;
        width: 40%;
    }
} */


/* .icons{
    display: flex;
    justify-content: end;
    align-items: center;
    height: fit-content;
    
}

.icons a{
    color: var(--icon-color);
    margin-right: 2rem;
    font-size: 1.1rem;
    padding: 7px;
    border-radius: 100px;
    border: 1px solid var(--icon-color);
    transition: all 0.2s ease-in-out;
    position: relative;
    overflow: hidden;
    z-index: 2;
    &:hover{
        color: white;
    }

}

.icons a::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-right: 2rem;
    padding: 0px;
    border-radius: 50%;
    background-color: var(--icon-color);
    transition: all .3s ease-in-out;
    z-index: -1;


}

.icons a:hover::before{
    padding: 22px;
}
*/

.Home{
    display: flex;
    flex-direction: column;
    margin: 0 20%;
    gap: 4rem;
    align-items: center;
    color: white;
    height: 100vh;
    position: absolute;
    top: 0px;
}


.intro{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.intro .h3{
    font-size: 3rem;
    font-weight: bolder;
    text-transform: capitalize;
    font-family: "Genos", sans-serif;
  font-optical-sizing: auto;
    font-weight: 700;
    margin: 0;
}

.scroll-reveal {
  margin: 20px 0;
}

.scroll-reveal-text {
  font-size: clamp(1.6rem, 4vw, 3rem);
  line-height: 1.5;
  font-weight: 600;
}

.word {
  display: inline-block;
}


.intro h1{
font-family: var(--genos);
  font-style: normal;
  text-transform: capitalize;
  font-size: 5rem;
  margin: 0 0 25px 0;
  color: white;
  text-align: center;
  background: linear-gradient(to right, var(--icon-color), var(--icon-color),white);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.intro p{
    margin-bottom: 50px;
    font-family: var(--sulphur);
}

.buttons{
    display: flex;
    box-sizing: border-box;

}



.buttons :first-child{
    border: 2px solid white;
    border-radius: 50px;
    text-transform: capitalize;
    font-family: "Michroma", sans-serif;
    width: 200px;
    background-color: transparent;
    color: white;
    margin-right: 40px;
    margin-top: 10px;
    transition: all 0.2s ease-in-out;
    &:hover{
        background-color: var(--icon-color);
        border: 2px solid var(--icon-color);
    }
}

.buttons :last-child{
    cursor: pointer;
    border: 2px solid var(--bg-color);
    border-radius: 50px;
    text-transform: capitalize;
    font-family: "Michroma", sans-serif;
    padding: 17px;
    width: 140px;
    text-align: center;
    background: linear-gradient(to right, var(--icon-color),var(--icon-color), var(--bg-color));
    color: white;
    font-weight: 700;
     margin: 10px 0 0 0;
    transition: all 0.2s ease-in-out;
    &:hover{
      
        border: 2px solid white;
        border-radius: 100px;
    }
}


.marquee {
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  width: 100%;
   background-color: black ;
   transform: rotate(-2deg);
    position: relative;
    top: -30px;
    left: -1px;
}

.marquee-content {
  animation: marquee 20s linear infinite;
  color: white;
  height: 80px;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}


.marquee-content li{
    list-style: none;
    font-size: 2rem;
}


.marquee-content img{
    animation: rotate 6s linear none infinite alternate;
    margin:  0 100px 0 100px;
}


@keyframes rotate{
    from{
        padding-left: 0;
        transform: rotate(0deg);
    }

    to{
        transform: rotate(359deg);
    }
}

.marquee-content h3{
    margin: 0;
}

@keyframes marquee {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}



.projects{
   
    color: white;
    background-color: var(--pro-bg) ;
    position: relative;
    padding-bottom: 200px;
}

.pro-head{
    margin: 4rem;
    text-align: center;
    position: sticky;
    top: 150px;
}

.pro-head h1{
    text-transform: capitalize;
    font-family: "Genos", sans-serif;
    font-size: 3rem;
    background: linear-gradient(to right, var(--icon-color),white);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
}

.pro-head h5{
    margin: 0;
    text-transform: uppercase;
}

.projects-grid{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.project:nth-child(2){
    position: sticky;
    top: 310px;
}
.project:nth-child(3){
    position: sticky;
    top: 370px;

}
.project:nth-child(4){
    position: sticky;
    top: 450px;

} 


.project{
    display: flex;
    margin: 0 auto;
    width: 1130px;
    height: 670px;
    gap: 40px;
    border: 2px solid var(--icon-dim);
    border-radius: 65px;
    padding: 40px;
    position: sticky;
    top: 250px;
    background-color: var(--pro-bg);
    box-shadow: 0 0 800px -150px #8650eab7;
    transition: all .2s ease-in-out; ;
    &:hover{
        border: 2px solid var(--icon-color);
        box-shadow: 0 0 800px -100px #8650eab7;
        
    }
}

.project:hover h6{
   
    color: var(--icon-color);
    text-shadow: 0 0 2px var(--icon-color),
    0 0 2pc var(--icon-color);
}


.pro-content{
    width: 50%;
    display: flex;
    flex-direction: column;
   
}

.pro-content h6{
    color: gray;
    text-transform: capitalize;
    font-weight: 800;
    letter-spacing: 1px;
    font-family: var(--head-font);
    font-size: 0.8rem;
    
}

.pro-content h3{
    font-family: var(--h3);
    text-transform: uppercase;
    font-size: 1.8rem;
    margin-top: 5px;
}

.pro-content p{
    text-align: justify;
    text-indent: 60px;
    line-height: 25px;
    margin: 40px 0 20px ;
}

.pro-content li{
    list-style-type: none ;
    margin: 10px 0;
}

.pro-content li span{
    padding: 20px;
}

.pro-content li::before{
    content: '✓';
    
}

.pro-content a{
    text-decoration: none;
    width: fit-content;
    padding: 10px 20px;
    border-radius: 25px;
    color: white;
    margin: 20px 0;
    text-transform: capitalize;
    transition: all .3s ease-in-out;
    background-color: var(--icon-color);
    border: 2px solid var(--icon-color);
    box-shadow: 0 0 10px 0px var(--icon-color);
    position: relative;
    bottom: 0px;
    &:hover{
        background-color: var(--btn-glow);
    border: 2px solid var(--btn-glow);
    box-shadow: 0 0 10px 0px var(--btn-glow);
    }
}

.pro-img{
    width: 50%;
    background-color: gray;
    display: flex;
    align-items: center;
    border-radius: 25px;
} 