body{
  background-color: #0F0715;
}

.shade{
  position: relative;
  /* background-color: gray; */
}

.shader1{
  position: absolute;
  top: -190px;
  right: -190px;
  height: 200px;
  width: 200px;
  background-color: transparent;
  z-index: -1;
  border-radius: 100px;
  box-shadow: 0 0 600px 300px #8650eab7;
}

